body {
    background-color: hotpink;
}

#container {
    width: 500px;
    height: 300px;
    margin-top: 300px;
    text-align: center;
    color: #fff; /* ✅ 여기에 중괄호 추가 */
}

#title {
    color: #fff;
}

#sub-container {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border: 5px solid deeppink;
    border-radius: 15px;
    
    color: black; /* ✅ 글자색을 검정색으로 변경 */
}

#list-group {
    padding-top: 20px;
}

.list-group-item {
    background-color: white; /* ✅ 리스트 아이템 배경색 추가 */
    color: black !important; /* ✅ 글씨 색상을 검정색으로 변경 */
    border: none !important;
    border-bottom: 1px solid #eee !important;
}

#input-group{
    margin-top: 10px;
}


#input-area{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#button-area{
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: blueviolet;
    color: #eee;
       
}